.my-skills{
  padding: 80px 10px;
}

.container-my-skills-info{
  margin-top:6rem ;
}

.progress-line{
  height: 3px;
  width: 190%;

  background: linear-gradient(to right, var(--accent-color) 80%, rgb(197, 197, 197) 20%);

  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.my-skills-img{
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .container-my-skills-info{
    position: absolute;
    top: 1100px;
    text-align: center;
  }

  .my-skills-img{
    margin-top: 300px;
  }

  .container-my-skills{
    justify-content: center;
  }

  .progress-line{
    position: relative;
    right: 70px;
  }
}

@media screen and (max-width: 768px) {
  .container-my-skills-info{
    position: absolute;
    top: 1250px;
    text-align: center;
  }
  
  .my-skills-img{
    margin-top: 220px;
  }

  .container-my-skills{
    justify-content: center;
  }

  .progress-line{
    position: relative;
    right: 70px;
  }
}


